.budget-container {
  flex-basis: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: var(--bg-paper);
  border-radius: var(--border-radius-md);
  transition: all 300ms ease;
}
.budget-container:hover {
  transform: translate(0%, -1%);
  box-shadow: var(--box-sdw);
}
.budget-container .block {
  margin-block: 0.5rem;
}
.budget-container .block .result {
  text-align: right;
  background-color: transparent;
}

.budget-container .block > label {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result .amount-wrapper {
  color: var(--font-secondary);
}
.result .amount {
  color: inherit;
}
.budget-container input {
  /* color: var(--accent); */
  background-color: var(--bg-darker);
  font-family: "Inter Regular";
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.25rem 0.75rem;
  width: 50%;
  border-radius: var(--border-radius-sm);
  border: var(--accent-bg);
}
.budget-container input:focus-visible {
  outline: 2px solid var(--accent);
}
/* Chrome, Safari, Edge, Opera */
.budget-container input::-webkit-outer-spin-button,
.budget-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
