.grid-item {
  padding: 0 0 1rem 0;
  border-radius: var(--border-radius);
  background-color: var(--bg-paper);
  min-height: 200px;
  overflow: hidden;
}
.grid-item .content {
  padding-inline: 1.5rem;
}
.grid-item .cover-image {
  width: 100%;
  height: 10rem;
  background-color: var(--bg-darker);
}
.grid-item .title {
  margin-block: 1rem;
}
.sub-title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sub-title-container .text {
  color: var(--font-secondary);
  font-weight: 600;
}
.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--font-secondary);
}
