@import url(./font-faces.css);

:root {
  --bg-primary: hsl(240, 15%, 10%);
  --bg-darker: hsl(240, 15%, 8%);
  --bg-paper: hsl(240, 15%, 15%);
  --font-primary: rgba(255, 255, 255, 0.85);
  --font-secondary: rgba(255, 255, 255, 0.55);
  --font-disabled: rgba(255, 255, 255, 0.35);
  --accent: hsl(240, 50%, 60%);
  --font-dark-primary: rgba(0, 0, 0, 0.8);
  --accent-bg: hsla(240, 50%, 60%, 0.15);
  --accent-bg-hovered: hsla(240, 50%, 60%, 0.2);
  --accent-hovered: hsl(240, 50%, 65%);
  --accent-disabled: hsla(240, 25%, 60%, 0.25);
  --border-radius-sm: 0.15rem;
  --border-radius: 0.25rem;
  --border-radius-md: 0.4rem;
}

*,
*::before,
*::after {
  color: var(--font-primary);
  font-family: "Poppins Regular";
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  font-family: "Inter Medium";
}

body {
  background: var(--bg-primary);
}
