@import url(./font-faces.css);

:root {
  --bg-primary: hsl(240, 15%, 10%);
  --bg-darker: hsl(240, 15%, 8%);
  --bg-paper: hsl(240, 15%, 15%);
  --font-primary: rgba(255, 255, 255, 0.85);
  --font-secondary: rgba(255, 255, 255, 0.55);
  --font-disabled: rgba(255, 255, 255, 0.35);
  --accent: hsl(210, 100%, 65%);
  --accent-glow-1: hsla(210, 100%, 60%, 0.35);
  --accent-glow-2: hsla(210, 100%, 60%, 0.25);
  --font-dark-primary: rgba(0, 0, 0, 0.8);
  --accent-bg: hsla(210, 100%, 60%, 0.15);
  --accent-bg-hovered: hsla(210, 100%, 60%, 0.2);
  --accent-hovered: hsl(210, 100%, 70%);
  --accent-disabled: hsla(210, 30%, 60%, 0.25);
  --danger: hsla(0, 50%, 50%, 1);
  --danger-bg: hsla(0, 80%, 55%, 0.05);
  --danger-glow: hsla(0, 80%, 60%, 1);
  --danger-glow-1: hsla(0, 80%, 55%, 0.25);
  --danger-glow-2: hsla(0, 80%, 55%, 0.45);
  --success: hsla(125, 50%, 55%, 1);
  --success-glow: hsla(125, 60%, 65%, 1);
  --success-glow-1: hsla(125, 50%, 50%, 0.15);
  --success-glow-2: hsla(125, 50%, 50%, 0.35);
  --border-radius-sm: 0.15rem;
  --border-radius: 0.25rem;
  --border-radius-md: 0.4rem;
  --box-sdw: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.35);
  --text-glow-success: 0 0 10px var(--success-glow-2),
    0 0 20px var(--success-glow-1);
}

*,
*::before,
*::after {
  color: var(--font-primary);
  font-family: "Poppins Regular";
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  font-family: "Inter Medium";
}

body {
  background: var(--bg-primary);
}
