@import url(./global-style.css);
@import url(./utility.css);
@import url(./button.css);

.header {
  display: flex;
  position: relative;
  width: 100%;
  min-height: max(400px, 60vh);
  max-height: 60vh;
  background-color: var(--bg-darker);
  margin-bottom: 2rem;
}
.left-header-img {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../assets/img/header-left-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 20rem;
}
.right-header-image {
  position: absolute;
  background-image: url(../assets/img/header-right-image.png);
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10rem;
  height: 10rem;
}
.header-content {
  margin-block: auto;
}

.header .title {
  font-size: 2.5rem;
  text-align: center;
  text-align: center;
  margin-bottom: 1rem;
}
.header .sub-title {
  width: 60%;
  margin-inline: auto;
  font-size: 1.25rem;
}

.flex {
  background-color: blue;
}
.grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  gap: 0.75rem;
}
.side-bar {
  flex-basis: 20%;
  padding: 1rem;
  background-color: var(--bg-paper);
  border-radius: var(--border-radius-md);
}

.selected-container {
  width: 100%;
  height: fit-content;
}
.budget-container {
  width: 100%;
  height: fit-content;
}
/* list */
.list {
  list-style: none;
}
.list li {
  /* counter-increment: counter; */
  margin-block: 0.5rem;
  background-color: var(--bg-darker);
  border-radius: 1.5rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  transition: all 300ms ease;
}
.list > .active {
  color: var(--font-primary);
  background-image: linear-gradient(
    to right,
    hsla(125, 50%, 50%, 0.025),
    var(--bg-darker)
  );
}
.list li .sl-no {
  display: inline-block;
  color: var(--font-secondary);
  padding-top: 0.05rem;
  width: 1.75rem;
  height: 1.75rem;
  font-weight: bold;
  text-align: center;
  border-radius: 1.5rem;
  background-color: var(--bg-primary);
  transition: all 300ms ease;
}
.list > .active .sl-no {
  color: var(--font-dark-primary);
  background-color: hsla(125, 50%, 50%, 1);
  box-shadow: 0 0 5px hsla(125, 50%, 50%, 0.8),
    0 0 20px hsla(125, 50%, 50%, 0.5);
}
.list > .active:hover .sl-no {
  background-color: hsla(125, 50%, 65%, 1);
  box-shadow: 0 0 10px hsla(125, 50%, 50%, 0.8),
    0 0 20px hsla(125, 50%, 50%, 0.5);
}

.list li .name {
  display: inline-block;
  user-select: none;
  color: var(--font-secondary);
  font-weight: bold;
  margin-left: 1rem;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
  transition: all 500ms ease;
}
.list > .active .name {
  color: var(--font-primary);
}
.list > .active:hover .name {
  color: hsla(125, 60%, 70%, 1);
  filter: drop-shadow(0 0 10px hsla(125, 50%, 50%, 0.35))
    drop-shadow(0 0 20px hsla(125, 50%, 50%, 0.15));
}

footer {
  min-height: 300px;
}
