@import url(./global-style.css);
@import url(./utility.css);
@import url(./check-icon.css);
@import url(./budget.css);
@import url(./selected.css);
@import url(./card-design.css);
@import url(./button.css);
@import url(./modal.css);

.header {
  display: flex;
  position: relative;
  width: 100%;
  min-height: max(400px, 60vh);
  max-height: 60vh;
  background-color: var(--bg-darker);
  margin-bottom: 2rem;
}
.left-header-img {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../assets/img/header-left-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 20rem;
}
.right-header-image {
  position: absolute;
  background-image: url(../assets/img/header-right-image.png);
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10rem;
  height: 10rem;
}
.header-content {
  margin-block: auto;
}

.header .title {
  font-size: 2.5rem;
  text-align: center;
  text-align: center;
  margin-bottom: 1rem;
}
.header .sub-title {
  width: 60%;
  margin-inline: auto;
  font-size: 1.25rem;
}

.flex {
  background-color: blue;
}
.grid {
  display: grid;
  width: 75%;
  height: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  gap: 1rem;
}

.side-bar {
  width: 25%;
}

footer {
  min-height: 300px;
}
