.title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1em;
}
.sub-title-container .text {
  text-transform: capitalize;
}
.justify-center {
  justify-content: center !important;
}
.mx-1 {
  margin-block: 0.25rem;
}
.mx-2 {
  margin-block: 0.5rem;
}
.mx-3 {
  margin-block: 0.1rem;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.75rem;
}
.gap-3 {
  gap: 1rem;
}
.g-wrapper {
  position: relative;
  margin-inline: auto;
  max-width: 1600px;
  min-height: 100%;
  padding-inline: 2.5rem;
}

@media screen and (min-width: 768px) {
  .g-wrapper {
    padding-inline: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .g-wrapper {
    padding-inline: 5rem;
  }
}
