.title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.75em;
}
.text-danger {
  font-size: inherit;
  font-weight: inherit;
  color: var(--danger-glow) !important;
}
.text-success {
  font-size: inherit;
  font-weight: inherit;
  color: var(--success) !important;
}
.sub-title-container .text {
  text-transform: capitalize;
}
.justify-center {
  justify-content: center !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mx-1 {
  margin: 0 !important;
  margin-block: 0.25rem;
}
.mx-2 {
  margin: 0 !important;
  margin-block: 0.5rem;
}
.mx-3 {
  margin: 0 !important;
  margin-block: 0.1rem;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.75rem;
}
.gap-3 {
  gap: 1rem;
}
.g-wrapper {
  position: relative;
  margin-inline: auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100%;
  padding-inline: 2.5rem;
}
.stick-top {
  position: sticky;
  top: 0;
}

.glow-success {
  background-color: var(--success-glow) !important;
  filter: drop-shadow(0 0 10px var(--success-glow-2))
    drop-shadow(0 0 20px var(--success-glow-1));
}

.font-glow-success {
  color: var(--success) !important;
  text-shadow: var(--text-glow-success);
}

@media screen and (min-width: 768px) {
  .g-wrapper {
    padding-inline: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .g-wrapper {
    padding-inline: 5rem;
  }
}
